body, html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Nanum Gothic', Sans-Serif;
}

a {
  color: #0191C8;
  cursor: pointer;
  transition : color 200ms ease-out;
  -webkit-transition : color 200ms ease-out;
  text-decoration: none;
}

a:hover {
  color: #FF5716;
  text-decoration: underline;
}

button
{
  cursor: pointer;
  margin-top: 20px;
  border: 0;
  font-size: 1em;
  font-family: 'Open Sans', 'Nanum Gothic', Sans-Serif;
}

input[type="text"]
{
  font-size: 1.1em;
}

input[type="text"], textarea
{
  border: 0px;
  border-bottom: 2px solid #999;
  padding: 5px 5px 3px 5px;
  //transition: height 10ms ease-out;
  transition: border-color 300ms ease-out;
  -webkit-transition: border-color 300ms ease-out;
  font-family: Open Sans, 'Nanum Gothic', Sans-Serif;
}

textarea {
  resize: vertical;
  overflow-y: auto;
  line-height: 1.3em;
}

input[type="text"]:hover, textarea:hover
{
  transition: border-color 300ms ease-out;
  -webkit-transition: border-color 300ms ease-out;
  border-bottom-color:  #000;
}

input[type="text"]:disabled , textarea:disabled
{
  opacity: 0.5;
  border-bottom-color:  #666;
  background-color: #EEEEEE;
}

input[type="text"].error, textarea.error
{
  border-bottom-color: #D22042;
}

.indent15 {
  margin-left: 15px;
}

.color-white {
  color: #FFF;
}
.color-grey {
  color: #4C4B5A;
}
.color-red {
  color: #D22042;
}
.color-orange {
  color: #FF5716;
}
.color-blue {
  color: #1C73BA;
}
.color-yellow {
  color: #FFD602;
}
.color-purple {
  color: #752762;
}
.color-cayenne {
  color: #E66665;
}
.color-comfrey {
  color: #4D9379;
}
.color-paloma {
  color: #A9B2B1;
}
.color-turquoise {
  color: #06BCC2 !important;
}
.color-turquoise-sky {
  color: #049DBF;
}
.color-aqua {
  color: #30C4C9;
}
.color-tuquoise-pale {
  color: #AFEEEE;
}
.color-green {
  color: #A4B808;
}
.bgcolor-white {
  background-color: #FFF;
}

.bgcolor-red {
  background-color: #D22042;
}
.bgcolor-orange {
  background-color: #FF5716;
}
.bgcolor-blue {
  background-color: #1C73BA;
}
.bgcolor-yellow {
  background-color: #FFD602;
}
.bgcolor-purple {
  background-color: #752762;
}
.bgcolor-cayenne {
  background-color: #E66665;
}
.bgcolor-comfrey {
  background-color: #4D9379;
}
.bgcolor-paloma {
  background-color: #A9B2B1;
}
.bgcolor-turquoise {
  background-color: #06BCC2;
}
.bgcolor-turquoise-sky {
  background-color: #049DBF;
}
.bgcolor-turquoise-pale {
  background-color: #AFEEEE;
}
.bgcolor-aqua {
  background-color: #30C4C9;
}
.bgcolor-green {
  background-color: #A4B808;
}
.bgcolor-green-pale {
  background-color: #E0FACB;
}

.message {
  font-size: 0.8em;
}

.disabled {
  opacity: 0;
  transition: opacity 5000ms ease-out;
  -webkit-transition: opacity 5000ms ease-out;
}

.errorMessage {
  color: #D22042;
}

.successMessage {
  color: #1C73BA;
}

.rotating {
  animation: rotating linear 700ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation: rotating linear 700ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}


@-webkit-keyframes rotating {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
